[submodule "api/cairo"]
	path = api/cairo
	url = https://github.com/starkware-libs/cairo.git

[submodule "api/cairo_compilers/v2.1.1"]
    path = api/cairo_compilers/v2.1.1
    url = https://github.com/starkware-libs/cairo.git
    branch = v2.1.1

[submodule "api/cairo_compilers/v2.2.0"]
    path = api/cairo_compilers/v2.2.0
    url = https://github.com/starkware-libs/cairo.git
    branch = v2.2.0

[submodule "api/cairo_compilers/v2.3.0"]
    path = api/cairo_compilers/v2.3.0
    url = https://github.com/starkware-libs/cairo.git
    branch = v2.3.0