[submodule "api/cairo"]
	path = api/cairo
	url = https://github.com/starkware-libs/cairo.git

[submodule "api/cairo_compilers/v2.6.0"]
	path = api/cairo_compilers/v2.6.0
	url = https://github.com/starkware-libs/cairo
[submodule "api/cairo_compilers/v2.6.1"]
	path = api/cairo_compilers/v2.6.1
	url = https://github.com/starkware-libs/cairo
[submodule "api/cairo_compilers/v2.6.2"]
	path = api/cairo_compilers/v2.6.2
	url = https://github.com/starkware-libs/cairo
[submodule "api/cairo_compilers/v2.6.3"]
	path = api/cairo_compilers/v2.6.3
	url = https://github.com/starkware-libs/cairo
[submodule "api/cairo_compilers/v2.7.0"]
	path = api/cairo_compilers/v2.7.0
	url = https://github.com/starkware-libs/cairo
[submodule "api/cairo_compilers/v2.8.2"]
	path = api/cairo_compilers/v2.8.2
	url = https://github.com/starkware-libs/cairo
[submodule "api/cairo_compilers/v2.8.4"]
	path = api/cairo_compilers/v2.8.4
	url = https://github.com/starkware-libs/cairo
