[package]
name = "api"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rocket = { version = "0.5.0-rc.2", features = ["json"] }
rand = "0.8"
serde = { version = "1.0.152", features = ["derive"] }
log = "0.4.20"
env_logger = "0.10.0"
