name: (develop) React package build & deploy
on:
  push:
    branches:
      - develop
    paths:
      - 'plugin/**'
      
env:
  NODE_VERSION: '20.x'
  BUCKET_NAME: 'starknet-remix-plugin-web'

permissions:
      id-token: write
      contents: read
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install -g pnpm

      - name: pnpm install
        working-directory: ./plugin
        run: pnpm install
      
      - name: pnpm build
        working-directory: ./plugin
        run: pnpm run build

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: react-github-actions-build
          path: ./plugin/build/**/*
  Deploy:
    runs-on: ubuntu-latest
    needs: Build
    steps:

      - name: Get artifact
        uses: actions/download-artifact@v3
        with:
          name: react-github-actions-build
          path: artifact

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::599564732950:role/Aws-GH-Action-Assume-Role-Starknet
          role-session-name: GHStarknet

      - name: Deploy to S3
        run: aws s3 sync . s3://${{ env.BUCKET_NAME }} --acl public-read
        working-directory: artifact
